.barHome{
  padding-bottom: 85px;
  height: calc(100vh - 117.23px);
  position: relative;
  text-align: center;
  background: #040404;
  &-img{
    height: calc(100vh - 259px);
    margin-bottom: 32px;
  }
  &-title{
    font-family: 'Cormorant Upright', sans-serif;
    font-weight: 700;
    font-size: 140px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #FFFFFF;
    position: absolute;
    top: 263px;
    left: 538px;

  }
  &-scroll{
    font-family: 'Cormorant Upright', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #DCCA87;
    position: relative;
    &::before{
      content: '';
      width: 1px;
      height: 61px;
      background: #FFFFFF;
      position: absolute;
      top: -85px;
      left: 50%;
    }
  }
}