.customer{
  padding: 152px 0;
  &-text{
    font-family: 'Cormorant Upright', sans-serif;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 25px;
    position: relative;
    &::before{
      content: url("../images/customer/vector.png");
      position: absolute;
      top: 25px;
      left: 48.5%;
    }
    &::after{
      content: url("../images/menu/badge.png");
      position: absolute;
      top: -200px;
      right: 0;
    }
  }
  &-title{
    font-family: 'Cormorant Upright', sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #DCCA87;
    text-align: center;
    margin-bottom: 64px;
  }
  &-row{
    display: flex;
    flex-wrap: wrap;
    gap: 64px 16px;
    justify-content: center;
    align-items: center;
  }
  &-card{
    width: calc(50% - 16px);
    display: flex;
    column-gap: 16px;
    align-items: center;
    &-info{
      font-family: 'Open Sans', sans-serif;
      font-style: italic;
      font-weight: 400;
      font-size: 16px;
      line-height: 175%;
      letter-spacing: 0.04em;
      color: #AAAAAA;
    }
    &-title{
      font-family: 'Cormorant Upright', sans-serif;
      font-weight: 400;
      font-size: 32px;
      line-height: 130%;
      letter-spacing: 0.04em;
      text-transform: capitalize;
      font-feature-settings: 'tnum' on, 'lnum' on;
      color: #DCCA87;
      margin: 16px 0 4px;
    }
    &-subtitle{
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 175%;
      letter-spacing: 0.04em;
      color: #F5EFDB;
    }
  }
}

