.video{
  width: 100%;
  height: 763px;
  position: relative;
  &::before{
    content: url("../images/menu/badge.png");
    position: absolute;
    top: 150px;
    left: 200px;
  }
  &-img{
    width: 100%;
  }
}